h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Inconsolata', monospace;
  font-weight: bolder;
}

h2, h3, h4, h5 {
  font-family: 'Inconsolata', monospace;
}

body {
  margin: 0px;
  }

.pageHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fantasy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 5%;
    height: 33%;
  }

  .page-body {
    padding: 5%;
    color: black;
     background: rgb(0,54,255);
background: linear-gradient(90deg, rgba(0,54,255,0.25) 0%, rgba(255,0,0,0.25) 84%);
  }

